/Switch/nbproject/private/
/Switch/build/
/For/nbproject/private/
/For/build/
/while/nbproject/private/
/while/build/
/DoWhile/nbproject/private/
/DoWhile/build/
/Switch2/nbproject/private/
/Switch2/build/
/RevisionPrueba/nbproject/private/
/RevisionPrueba/build/
/RevisionPrueba/dist/
/POO-CLASE/nbproject/private/
/POO-CLASE/build/